body {
    font-family: 'Open Sans', sans-serif;
    font-size: 4mm;
    background-color: #191724;
    color: #e0def4;
    -moz-font-feature-settings: normal;
}

#titlebar {
    display: flex; /* Flexbox verwenden, um Elemente nebeneinander anzuordnen */
    align-items: center; 
    background-color: #eb6f92; /* rose-pine surface */
    color: white; 
    padding: 5mm; /* ränder */
    padding-left: 8mm;
}

#welcome_homepage_text {
    size: 30mm;
}

#bottombar {
    display: flex; /* Flexbox verwenden, um Elemente nebeneinander anzuordnen */
    align-items: center; /* Elemente in der Mitte vertikal ausrichten */
    background-color: #26233a; /* rose-pine surface */
    color: white; /* text color */ 
    padding: 5mm; /* ränder */
    padding-bottom: 20mm;
}

#ausbildung_text_big {
    padding-left: 20mm;
    padding-top: 20mm;
    padding-right: 20mm;
    font-family: 'Open-Sans' serif;
    font-size: 15mm;
    background-color: #b4637a;
}

#ausbildung_text_small{
    padding: 20mm;
    font-family: 'Open-Sans' serif;
    font-size: 7mm;
    background-color: #b4637a;
}

#ausbildung_text_p1{
    padding: 20mm;
    font-family: 'Open-Sans' serif;
    font-size: 15mm;
    text-align: center;
    background-color: #21202e;

}

#ausbildung_text_p2{
    padding: 20mm;
    font-family: 'Open-Sans' serif;
    font-size: 7mm;
    text-align: left; 
    margin-bottom: 2em;
    margin-right: 20mm;
    clear: both;
    width: 500px;
    word-wrap: break-word;
}

#video {
    position:relative;
    margin-left: 300px;
}

#ausbildung_image_p1 {
    position: absolute;
    right: 10mm;
    margin-top: -420px;
}

#latest_model_text {
    padding: 10mm;
    font-family: 'Open-Sans' serif;
    font-size: 9mm;
    background-color: #26233a;
}

#slogan {
    padding-left: 3mm;
    font-family: 'Open-Sans' serif;
    font-size: 10mm
}

#imageContainer {
    width: 300;
    height: 300;
}

/*             */
/* Image Boxes */
/*             */

#audi1 {
    padding: 5mm;
    padding-left: 10mm;
    color: #e0def4;
    background-color: #26233a; /* rose-pine overlay */
}

#audi1_img {
    padding-top: 3mm;
}
#audi2 {
    padding: 5mm;
    padding-left: 10mm;
    color: #e0def4;
    background-color: #26233a; /* rose-pine overlay */
}

#audi2_img {
    padding-top: 3mm;
}
#audi3 {
    padding: 5mm;
    padding-left: 10mm;
    color: #e0def4;
    background-color: #26233a; /* rose-pine overlay */
}
#audi3_text {
    padding: 5mm;
    color: #e0def4;
    background-color: #26233a; /* rose-pine overlay */
}
#audi3_img {
    padding-top: 3mm;
}
#audi4 {
    padding: 5mm;
    padding-left: 10mm;
    color: #e0def4;
    background-color: #26233a; /* rose-pine overlay */
}

#audi4_img {
    padding-top: 3mm;
}
#audi5 {
    padding: 5mm;
    padding-left: 10mm;
    color: #e0def4;
    background-color: #26233a; /* rose-pine overlay */
}

#audi5_img {
    padding-top: 3mm;
}

a:link {
    color: #9ccfd8;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #31748f;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #c4a7e7;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #f6c177;
    background-color: transparent;
    text-decoration: underline;
}

