/* file for inserting spaces */
#void_05 {
    padding: 05mm;
    background-color: #191724;
}
#void_08 {
    padding: 08mm;
    background-color: #191724;
}
#void_10 {
    padding: 10mm;
    background-color: #191724;
}
#void_15 {
    padding: 15mm;
    background-color: #191724;
}
#void_20 {
    padding: 20mm;
    background-color: #191724;
}
#void_25 {
    padding: 25mm;
    background-color: #191724;
}
#void_30 {
    padding: 30mm;
    background-color: #191724;
}
#void_35 {
    padding: 35mm;
    background-color: #191724;
}
#void_40 {
    padding: 40mm;
    background-color: #191724;
}
#void_45 {
    padding: 45mm;
    background-color: #191724;
}
#void_50 {
    padding: 40mm;
    background-color: #191724;
}
